@import "../styles/mixins/mixcontainer";
@import "../styles/mixins/mixcontents";

.dashbigcon {
  @include bigcon;
}
.dashtop {
  @include fonts;
  height: 3.7rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: #4c9188;
  &__left {
    margin-left: 2rem;
  }
  &__right {
    margin-right: 2rem;
  }
}
.dashtop__right {
  background-color: transparent;
  border: none;
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.dashbottom {
  display: flex;
  background-color: #c3ddda;
  height: 54rem;
}
.dashbottom_left {
  background-color: #4c9188;
  width: 20rem;
  @include fonts;
}
.propic {
  border-radius: 8rem;
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
  margin-bottom: -2rem;
}
.dashbottom_right {
  width: 60rem;
  @include fonts;
  color: black;
}
.dashbottom .buttons {
  margin-top: -1rem;
  margin-right: 3rem;
  display: flex;
  justify-content: flex-end;
}
.add {
  @include dashbtn;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.tasker {
  display: flex;
  flex-flow: row;
}
.tasker_left {
  width: 30rem;
  flex-flow: row;
  text-align: left;
  margin-left: 3.5rem;
}
.text {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.text-1 {
  margin-left: 6rem;
}
.text-2 {
  margin-left: 20rem;
}
.check {
  width: 1.5rem;
  height: 1.5rem;
}
.title {
  width: 20rem;
  height: 2rem;
  border: none;
  margin-top: -1.7rem;
  margin-left: 2.5rem;
  font-size: 1rem;
}
.tasker_right {
  display: flex;
}
.tasklist {
  background-color: white;
  width: 50rem;
  padding: 0.8rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 0.6rem;
  border-radius: 1rem;
}
.icons {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-top: -3.5rem;
  margin-left: 31rem;
}
.star {
  margin-right: 5rem;
  cursor: pointer;
  .important {
    color: yellow;
  }
}
.editt {
  margin-right: 2rem;
  margin-left: 7rem;
  cursor: pointer;
}
.editt:hover {
  color: #4c9188;
}
.trash {
  cursor: pointer;
}
.trash:hover {
  color: #4c9188;
}
.submit {
  margin-right: -2rem;
}
.submitbtn {
  margin-left: 1rem;
  margin-top: 2rem;
  border: none;
  background-color: #4c9188;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.submitbtn:hover {
  background-color: #34726e;
}
.menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  .menubtn {
    background-color: #4c9188;
    text-align: right;
    font-size: medium;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
    border: none;
  }
}
.menubtn::after {
  background-color: #c3ddda;
}
