@import "../styles/mixins/mixcontainer";
@import "../styles/mixins/mixcontents";

.inbigcontainer {
  @include bigcon;
}
.incontainerleft {
  @include conleft;
}
.incontainerleft h6 {
  @include fonts;
  @include todos;
}
.inleftcontent {
  @include fonts;
  margin-top: 230px;
  line-height: 1.7;
}
.inleftcontent h3 {
  font-size: 60px;
  margin-bottom: 20px;
}
.btnsign {
  @include btnleft;
  cursor: pointer;
}
.btnsign:hover {
  background-color: #88c2ba;
}
.incontainerright {
  @include conright;
}
.inrightcontent {
  margin-top: 200px;
  text-align: center;
  font-size: 20px;
  color: #4c9188;
  font-family: "Open Sans";
}
.rightcontent h2 {
  @include fontblue;
  font-size: 40px;
}
.incontainersosmed {
  margin-left: -30px;
  margin-top: -30px;
}
.insosmed {
  display: inline-flex;
  &--f {
    @include sosmed;
    padding: 15px 25px;
  }
  &--g {
    @include sosmed;
    padding: 15px;
  }
  &--in {
    @include sosmed;
    padding: 15px 20px;
  }
}
.indata {
  &--email {
    @include data;
    color: #c4c4c4;
  }
  &--pass {
    @include data;
    color: #c4c4c4;
  }
}
.signin {
  @include btnright;
  cursor: pointer;
}
.signin:hover {
  background-color: #88c2ba;
}
